<h1>Thank you for signing up, <%= @user.name %>!</h1>

<h4>You are now part of something.</h4>
<br>
<p>Click<%=link_to 'here', edit_user_path(@user) %> to update app</p>
<br>
<p>Fresh Meat will soon become something seamlessly integrated into your busy life. A simple scan of your reciept will allow for complete population and tracking of your fridge items.</p>
<br>
<p>Once your items are stored you will be promtped a few days before any items are about to go out of date with suggested healthy recipes. Accepting one of these reciepes will auto update your fridge contents and let you know if there are any things you need to get to complete your meal.</p>
<br>
<p>All you have to do now is condier how you will spend the $1000, on average, a family unit saves each year.</p>
<br>
<p>Kind regards</p>
<br>
<p>Fresh Meat Team</p>
